body{
    background-image: url("abstract-2d-colorful-wallpaper-with-grainy-gradients_23-2151001481.avif");
    background-repeat: no-repeat;
    background-size: cover;

}
.maintitle{
    color: white;
    margin-top: 80px;
    margin-left: 94px;
    font-weight: 100;
    font-style: italic;
}
.maintitle span{
    color: rgb(136, 59, 23);
}

.header{
    display: flex;
}
.buttons{
    margin-left: 388px;
    margin-top: 52.9px;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav li{
    position: relative;
}
.nav a{
    white-space: nowrap;
    padding: 15px 23px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav li:hover a{
    color: #823208;
}
.nav-link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #823208 ;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover::before {
    visibility: visible;
    width: 80%;
}
.nav a.active {
    color: #823208;
}

.nav-link.active::before,
.nav-link:hover::before {
    visibility: visible;
    width: 80%;
}

.nav-link.active::before {
    background-color: #823208;
    visibility: visible;
    width: 80%;
}
.body{
    margin-top: 95px;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    flex-wrap: wrap;
}
.body div{
    margin: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plombier{
    width: 300px;
    height: 300px;
    background-color: white !important;
}
.najjar{
    width: 300px;
    height: 300px;
    background-color: white !important;
}
.sabagh{
    width: 300px;
    height: 300px;
    background-color: white !important;
}
.bnay{
    width: 300px;
    height: 300px;
    background-color: white !important;
}
.tbib{
    width: 300px;
    height: 300px;
    background-color: white !important;
    
}
.body div img{
    width: 50%;
    margin: 15px;
}
.chauffeur{
    width: 300px;
    height: 300px;
    background-color: white !important;
}
.khdama{
    width: 300px;
    height: 300px;
    background-color: white !important;
}
.dikor{
    width: 300px;
    height: 300px;
    background-color: white !important;
}
.body div h2{
    color: #081e6d;
}
.body div button{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #bf2a05;
    border: none;
    height: 45px;
    padding-bottom: 20px;
    transition: 0.3s;
}
.body div button img{
    width: 15px;
    margin-right:6px ;
}
.body div button p{
    margin-right: 17px;
    color: white !important;
    
}
.body div button:hover{
    background-color: rgb(7, 1, 180);
}